{% extends 'base/index.html' %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="card col-12 text-white bg-success">
            <div class="card-header">Agregar Categoría</div>
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <!-- {# { form.as_p } #} -->
                    <div class="row">
                        <div class="col-2">
                            <label for="">{{form.descripcion.label}}</label>
                        </div>
                        <div class="col-8">
                            {{form.descripcion}}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger">Guardar</button>
                    <a href="{% url 'app:categoria_listar' %}" class="btn btn-info">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block pie_pagina%}
{% endblock %}