{% extends 'base/index.html' %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="card text-white bg-success">
            <div class="card-header">Listado de Categorías
                {% if perms.app.add_categoria %}
                <a href="{% url 'app:categoria_nueva' %}" class="btn btn-info">Nueva</a>
                {% endif %}
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <th>Id</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </thead>
                    <tbody>
                        {% for item in obj %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.descripcion }}</td>
                                <td>
                                    {% if perms.app.change_categoria %}
                                    <a href="{% url 'app:categoria_editar' item.id  %}" class="btn btn-sm btn-warning">E</a>
                                    {% endif %}
                                    {% if perms.app.delete_categoria %}
                                    <a href="{% url 'app:categoria_borrar' item.id  %}" class="btn btn-sm btn-danger">B</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>          
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block pie_pagina%}
{% endblock %}